#root,
body,
html {
  margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

ul {
  list-style: none;
}

.element, .dashboard-section {
  margin-left: 117px;
}